<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mystery Word Game</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Stardos+Stencil" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  <body>
    <div id="background"></div>
    <div id="wrapper">
      <div id="wrapper-title">
        <h1 id="mystery">
          <div class="tilt-left">M</div>
          <div class="tilt-right">y</div>
          <div class="tilt-left">s</div>
          <div class="tilt-right">t</div>
          <div class="tilt-left">e</div>
          <div class="tilt-right">r</div>
          <div class="tilt-left">y</div>
          <div class="tilt-right">&nbsp;&nbsp;</div>
          <div class="tilt-left">W</div>
          <div class="tilt-right">o</div>
          <div class="tilt-left">r</div>
          <div class="tilt-right">d</div>
          <div class="tilt-left">&nbsp;&nbsp;</div>
          <div class="tilt-right">G</div>
          <div class="tilt-left" id="cheat">a
            <span class="cheatText">{{game.word}}</span></div>
          <div class="tilt-right">m</div>
          <div class="tilt-left">e</div>
        </h1>
        <span>
          <div id="guessCircle">
            <div id="circle">
              <p>{{game.guessesLeft}}</p>
            </div>
            <p>Guesses Left</p>
          </div>
        </span>
      </div>
      <div id="letter-wrapper">
        {{#game.display}}
          <!--<div class="letters">{{.}}</div>-->
{{{.}}}

        {{/game.display}}
      </div>
      <br>
      <br>
      <form action="/" method="post">
        <div id="top">
          <div id="playarea">
            {{#game.playing}}
              <input type="text" name="guessLetter" placeholder="Enter a letter" maxlength="1" size"1" autofocus>
            {{/game.playing}}
            <!--{{^game.playing}}
              <div id="lose">{{game.status}}</div>
            {{/game.playing}}-->
            <input type="submit" value="{{game.btnText}}"><span id="lose">&nbsp;&nbsp;{{game.status}}</span>
          </div>
          <!--<div id="winmsg">-->
            <!--{{^game.playing}}
              <div id="lose">{{game.status}}</div>
            {{/game.playing}}-->
          <!--</div>-->
        </div>
        <br>
        <!--</div>-->
        <div id="bottom">
          <div class="wrapper-postit">
            <div class="postit">Letters guessed<br><br>
              &nbsp;{{game.lettersGuessed}}
            </div>
          </div>
          <div id="right">
            {{^game.playing}}
              <div id="wrapper-mode" class="card">
                Game mode:<br><br>
                <input type="radio" name="mode" value="easy" checked> Easy: words of 4-6 characters<br>
                <input type="radio" name="mode" value="normal"> Normal: words of 6-8 characters<br>
                <input type="radio" name="mode" value="hard"> Hard: words of 8+ characters
              </div>
            {{/game.playing}}
            {{#game.playing}}
              <p id="message">{{game.message}}</p>
            {{/game.playing}}
          </div>
        <div>
      </form>
    </div>
  </body>
</html>